<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsy.mybatis_plus_demo.mapper.UserDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wsy.mybatis_plus_demo.entity.User">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="age" property="age" />
        <result column="email" property="email" />
        <result column="manager_id" property="managerId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, age, email, managerId, createTime
    </sql>
    <!--查询全部-->

    <select id="selectAll" resultType="user">
        select * from tb_user ${ew.customSqlsegment}
    </select>
    <select id="selectUserPage" resultType="user">
        select * from tb_user ${ew.customSqlsegment}
    </select>

</mapper>
